@model MyProblem
@{
    ViewBag.Title = "问答";
}

<div class="navbar-fixed-top row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Content("~/admin/home/main")">主页</a>
            </li>
            <li>
                <a href="@Url.Action("Index", new { page = Request.Params["page"] })">问答</a>
            </li>
            <li>
                <strong>@Model.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="m-t-lg">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@Model.Title</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" href="javascript:void();"><i class="fa fa-chevron-up"></i></a>
                        <a href="javascript:void();" onclick="javascript:window.location.reload();"><i class="fa fa-refresh"></i></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" method="post" action="@Url.Action("Save")">
                        <input name="id" value="@Model.ID" type="hidden" />
                        <input name="page" value="@Request.Params["page"]" type="hidden" />
                        <input name="msg" value="@ViewBag.msg" type="hidden" />
                        <input name="audit" value="@ViewBag.audit" type="hidden" />
                        <div class="form-group">
                            <label class="col-sm-3 control-label">标题：</label>
                            <div class="col-sm-8">
                                <input class="form-control" value="@Model.Title" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">创建时间：</label>
                            <div class="col-sm-8">
                                <input class="form-control" value="@Model.CreateTime" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">内容：</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" disabled rows="5">@Model.Content</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">审核结果</label>
                            <div class="col-sm-8">
                                <input type="radio" name="IsAudit" value="0" @(Model.IsAudit == 0 ? "checked" : "") /> 通过
                                <input type="radio" name="IsAudit" value="1" @(Model.IsAudit == 1 ? "checked" : "") /> 不通过
                                <input type="radio" name="IsAudit" value="2" @(Model.IsAudit == 2 ? "checked" : "") /> 未审核
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">回复：</label>
                            <div class="col-sm-8">
                                <textarea name="Reports" class="form-control" rows="5">@Model.Reports</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i>&nbsp;保存</button>
                                <button class="btn btn-primary" type="button" onclick="javascript:history.go(-1);"><i class="fa fa-circle-o-notch"></i>&nbsp;取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>